body {
  font-family: 'Inter', sans-serif;
  background-color: #cef0fd;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b2abf1;
  padding: 12px;
  text-align: center;
}

.container {
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.lesson {
  background-color: #e5f8ff;
  border-radius: 20px;
  overflow: hidden;
  width: calc(33% - 10px);
  color: #333;
}

.lesson:hover {
  background-color: #dff4fb;
}

.lesson-image {
  height: 150px;
  overflow: hidden;
}

.lesson-image img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.lesson-content {
  padding: 10px;
}

.lesson-content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-content p {
  margin: 0;
  padding: 0;
  height: 100px; 
  overflow: auto;
}

a {
  color: #333;
  text-decoration: underline;
}

a:hover {
  color: #597f91;
}

.lesson-icons {
  display: flex;
  gap: 14px; 
}

.lesson-icons i {
  font-size: 1.2em;
  cursor: pointer;
}

footer {
  background-color: #b2abf1;
  padding: 12px;
  text-align: center;
}
