body {
  background-color: lavender;
}

h2 {
  background-color: plum;
  color: darkorchid;
  font-weight: bold;
  font-size: 30px;
  text-align:left;
  margin-right: 5px;
  margin-left: 10px;
  padding: 10px;
  border: 4px solid gold;
  font-family: Verdana;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h2 {background-color: lemonchiffon;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h2 {background-color: plum;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h2 {background-color: lightpink;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h2 {background-color: powderblue;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h2 {background-color: lightcyan;}
}


.coolStyle {
  background-color:lavenderblush;
  border: 4px solid gold;
  padding: 10px;
  margin: 10px;
  font-family: Verdana;
}

img {
  border: 4px solid mediumpurple;
  position: relative;
  left: 25px;
  padding: 3px;
}

.coolLink {
  color:aquamarine !important;
  background-color: slateblue !important;
  text-align: center !important;
  display: inline-block !important;
  padding: 10px 20px !important;
  margin: 0px !important;
  margin-top: 10px !important;
  font-family: Verdana !important;
  position: relative;
  left: 25px;
}

footer {
  font-family: Verdana;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.questions {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}
