body {
  font-family: 'Inter', sans-serif;
  background-color: #cef0fd;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b2abf1;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  gap: 5px;
}

.lesson {
  background-color: #e5f8ff;
  border-radius: 20px;
  overflow: hidden;
  width: calc(25% - 5px);
  color: #333;
}

.lesson:hover {
  background-color: #dff4fb;
}

.lesson-image {
  height: 150px;
  overflow: hidden;
}

.lesson-image img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.lesson-content {
  padding: 10px;
}


.lesson-content p {
  margin: 0;
  padding: 0;
  height: 100px; 
  overflow: auto;
}
